<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Serial No</th>
                <th>Book Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of AllBooks | paginate: { itemsPerPage:5, currentPage: p}"
                  (click)="GetBookDetails(bookId)"
                  class="cursor">
                <td #bookId>{{ book.book_id + 1}}</td>
                <td>{{ book.name }}</td>
                <!-- <td *ngIf="i>4 && in<=9">{{ i+1 }}</td>
                <td *ngIf="i>4 && in<=9">{{ book.name }}</td>
                <td *ngIf="i>4 && in<=9">{{ i+1 }}</td>
                <td *ngIf="i>4 && in<=9">{{ book.name }}</td> -->
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
          <div class="pagination">
      
          </div>  
    </div>
  </div>
</div>




